body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url("./img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  margin: 0 100px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-anime {
  width: 200px;
  height: 250px;
  margin-bottom: 20px;
}

.box-button {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-chek {
  display: flex;
  align-items: center;
}

#form-anime {
  margin-bottom: 50px;
}

.input-anime {
  height: 25px;
  width: 300px;
  border-radius: 13px;
  border: 1px solid black;
  background: transparent;
}

button {
  background: rgb(157, 27, 243);
  border-radius: 13px;
  border: 1px solid black;
  width: 80px;
  height: 30px;
  color: white;
  font-size: 15px;
}

.title-anime {
  font-weight: bold;
  font-size: 12px;
}

img {
  width: 150px;
  height: 200px;

}

.chek-box-anime {
 background: transparent;
}

